.m_access_right{
    position:relative;
    right:-10px;
}

.container{
    width:auto;
    padding:0 20px 20px;
}

header .container{
    padding:0 24px;
}
.header_middle .container {padding:0 20px;}

.m_cate_foot {margin-top:0px;}

.m_brand_list_wrap {overflow:hidden; margin-right:-20px;}

.m_deps_bg{
    background:#F0F0F0;
    padding-bottom:59px;
}

.m_main_logo{
    display:block;
    float:left;
}

.m_main_logo a img{
    vertical-align:middle;
}

header{
    background:#fff;
}

.header_middle{
    line-height:50px;
    position: fixed;
    width: 100%;
    background: #fff;
}

.header_gnb{
    display:none;
}

.m_access_right a.m_notice_icon{
    position:relative;
    display: none;
}

a.m_cate_close{
    background:url('../images/m_cate_close_2x.png')no-repeat;
    background-size:21px;
    background-position: center;
    width:40px;
    height:50px;
    position:absolute;
    top: 50%;
    right: 0;
}

a.m_cate_close img{
    height:inherit;
}

.m_user_none{
    float:left;
}

.m_user_none::after{
    content:'';
    display:block;
    clear:both;
}

.m_user_none > div{
    float:left;
}

.m_user_none > div a{
    font-size:12px;
    width:63px;
    text-align:center;
    display:inline-block;
    line-height:25px;
}

.m_user_none .m_login_dv1 a{
    color:#fff;
    border: 1px solid #5c88da;
    background:#5c88da;
}

.m_user_none .m_login_dv2 a{
    border:1px solid #5c88da;
    color:#5c88da;
    line-height:25px;
    margin-left:8px;
}

.m_user_on{
    float:left;
}

.m_user_on h1{
    font-size:14px;
    color:#292929;
}

.m_user_on h1 strong{
    font-size:16px;
    font-weight:900;
    color:#5C88DA;
}

.mo_category{
    padding-top: 50px;
}

.mo_category .m_menu_title h1{
    font-weight:900;
    color:#292929;
    padding:18px 0 5px;
}

.mo_category .mdeps01{
    padding:0 10px;
}

.mo_category .mdeps01 > ul > li > a{
    padding:18px 0;
    display:block;
}

.mo_category .mdeps01 > ul > li.active > a span{
    color:#5c88da;
}

.mo_category .mdeps01 ul li a::after{
    content:'';
    display:block;
    clear:both;
}

.mo_category .mdeps01 ul li a span{
    font-size:15px;
    font-weight:500;
    letter-spacing:-1px;
    float:left;
}

.mo_category .mdeps01 ul li a button.rotate{
    transform:rotate(45deg);
}

.mo_category .mdeps01 ul li a button.btn01{
    background:url('../images/m_plus_view_2x.png')no-repeat;
    background-position:center;
    width:22px;
    height:22px;
    background-size:8px;
    border:none;
    padding:0;
    float:right;
}

.mo_category .mdeps01 ul li a button.btn02{
    background:url('../images/m_plus_grey_2x.png')no-repeat;
    background-position:center;
    width:22px;
    height:22px;
    background-size:8px;
    border:none;
    padding:0;
    float:right;
}

.mo_category .mdeps02 ul li a button.btn02{
    height:17px;
}

.mo_category .mdeps_in ul li a{
    display:block;
    padding:15px 0;
}

.mo_category .mdeps_in ul li a span{
    font-size:13px;
    color:#707070;
    padding:0 7px;
}

.mo_category .mdeps03 ul li a span{
    padding:0 14px;
}

.mo_category .mdeps02{
    display:none;
}

.mo_category .mdeps03{
    display:none;
}

.mo_category .m_service_box{
    padding-top:17px;
}

.mo_category .m_service_box .m_service_list ul::after{
    content:'';
    display:block;
    clear:both;
}

.mo_category .m_service_box .m_service_list ul li{
    float:left;
    width:50%;
}

.mo_category .m_service_box .m_service_list ul li a{
    font-size:14px;
    display:block;
    position:relative;
    padding:15px 0 15px 25px;
    line-height: 18px;
}

.mo_category .m_service_box .m_service_list ul li a::before{
    content:'';
    display:block;
    position:absolute;
    left:0;
    top:50%;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    background-position: center !important;
}

.mo_category .m_service_box .m_service_list ul li a.ic_box_01::before{
    background:url('../images/m_service_icon_1_2x.png')no-repeat;
    background-size:14px;
}

.mo_category .m_service_box .m_service_list ul li a.ic_box_02::before{
    background:url('../images/m_service_icon_2_2x.png')no-repeat;
    background-size:13px;
}

.mo_category .m_service_box .m_service_list ul li a.ic_box_03::before{
    background:url('../images/m_service_icon_3_2x.png')no-repeat;
    background-size:11.5px;
}

.mo_category .m_service_box .m_service_list ul li a.ic_box_04::before{
    background:url('../images/m_service_icon_4_2x.png')no-repeat;
    background-size:13px;
}

.mo_category .m_service_box .m_service_list ul li a.ic_box_05::before{
    background:url('../images/m_service_icon_5_2x.png')no-repeat;
    background-size:12.5px;
}

.mo_category .m_service_box .m_service_list ul li a.ic_box_06::before{
    background:url('../images/m_service_icon_6_2x.png')no-repeat;
    background-size:11.5px;
}

.mo_category .m_service_box .m_service_list ul li a.ic_box_07::before{
    background:url('../images/m_service_icon_7_2x.png')no-repeat;
    background-size:12.5px;
}

.mo_category .m_service_box .m_service_list ul li a.ic_box_08::before{
    background:url('../images/m_service_icon_8_2x.png')no-repeat;
    background-size:11.5px;
}

.mo_category .m_service_box .m_service_list ul li a.ic_box_09::before{
    background:url('../images/m_service_icon_9_2x.png')no-repeat;
    background-size:13px;
}

.mo_category .m_service_box .m_service_list ul li a.ic_box_10::before{
    background:url('../images/m_service_icon_10_2x.png')no-repeat;
    background-size:13px;
}

.mo_category .m_service_box .m_service_list ul li a.ic_box_11::before{
    background:url('../images/m_service_icon_11_2x.png')no-repeat;
    background-size:13px;
}

.mo_category .m_service_box .m_service_list ul li a.ic_box_12::before{
    background:url('../images/m_service_icon_12_2x.png')no-repeat;
    background-size:8.5px;
}

footer.m_cate_foot ul::after{
    content:'';
    display:block;
    clear:both;
}

footer.m_cate_foot ul li{
    float:left;
    position:relative;
}

footer.m_cate_foot ul li a{
    font-size:12px;
    color:#B2B2B2;
    padding:0 12px;
}

footer.m_cate_foot ul li.m_foot_lg::after{
    content:'';
    display:block;
    position:absolute;
    top:50%;
    right:0;
    width:1px;
    height:60%;
    background:#ccc;
    transform:translateY(-50%);
}

.m_ctg_in{
    padding:20px 0 0;
}

.m_ctg_in .m_deps_box ul li{
    background:#fff;
    padding:0 24px;
    box-sizing:border-box;
    border-bottom:1px solid #F0F0F0;
    line-height:40px;
    height:40px;
    position:relative;
}

.m_ctg_in .m_deps_box ul li a{
    display:block;
}

.m_ctg_in .m_deps_box ul li a.m_deps_title{
    width:90%;
    font-size:13px;
}

.m_ctg_in .m_deps_box ul li a.m_deps_array{
    background:url('../images/m_dep_array_2x.png')no-repeat;
    width:9px;
    height:15px;
    background-size:9px;
    position:absolute;
    top:50%;
    right:24px;
    transform:translateY(-50%);
}


@media screen and (max-width:640px){
    .user_ask .ask_content .ask_list ul li a p span{
        font-size:13px !important;
    }
}